In [1]:
#1
import pandas as pd
import numpy as np
data = pd.read_csv('ratings.csv')
data.head(10)

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4
5        1     2077       4
6        1     2487       4
7        1     2900       5
8        1     3662       4
9        1     3922       5

In [2]:
data.tail(10)

        book_id  user_id  rating
981746    10000    47069       4
981747    10000    47326       3
981748    10000    47515       4
981749    10000    48201       5
981750    10000    48281       4
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

In [3]:
#2
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981756 entries, 0 to 981755
Data columns (total 3 columns):
book_id    981756 non-null int64
user_id    981756 non-null int64
rating     981756 non-null int64
dtypes: int64(3)
memory usage: 22.5 MB

In [4]:
pd.unique(data['rating'])

array([5, 3, 4, 1, 2])

In [5]:
len(pd.unique(data['user_id']))

53424

In [6]:
#3
data1 = pd.unique(data['user_id'])[0:1000]
print(data1[:5])
data1[-5:]

[ 314  439  588 1169 1185]

array([25761, 27011, 30768, 31729, 31782])

In [8]:
rating = data[data['user_id'].isin(data1)]
rating

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981587     9999     6097       2
981588     9999     6397       3
981624     9999    25812       5
981722    10000    34787       5
981737    10000    42810       3

[133434 rows x 3 columns]

In [9]:
#4
rating.groupby('user_id')['book_id'].count()

user_id
35       125
173      116
178      135
274      106
314      181
        ...
53173    155
53245    188
53281     67
53292    193
53293    194
Name: book_id, Length: 1000, dtype: int64

In [10]:
#5
print(rating['rating'].min())
rating['rating'].max()

1

5

In [11]:
#6
rating.groupby('rating')['book_id'].count()

rating
1     3057
2     9593
3    36014
4    46260
5    38510
Name: book_id, dtype: int64

In [12]:
#task 2
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise import BaselineOnly
from surprise import accuracy
from surprise.model_selection import train_test_split

reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(rating[['user_id', 'book_id', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25)

Base = BaselineOnly()
Base.fit(trainset)
predictions = Base.test(testset)
accuracy.rmse(predictions)

Estimating biases using als...
RMSE: 0.8538

0.8537790709170555

In [ ]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(rating[['user_id', 'book_id', 'rating']], reader)
trainset, testset = train_test_split(data, test_size=.25)

In [121]:
pd.DataFrame(predictions)

         uid   iid  r_ui       est                    details
0      13195  2190   4.0  3.127127  {'was_impossible': False}
1      37393   342   2.0  3.264795  {'was_impossible': False}
2      37834   453   5.0  3.841112  {'was_impossible': False}
3       3263   344   5.0  3.934681  {'was_impossible': False}
4      15254   883   4.0  3.814842  {'was_impossible': False}
5      32490  4018   3.0  3.155110  {'was_impossible': False}
6      30871  3640   5.0  4.505855  {'was_impossible': False}
7      32649  2204   4.0  3.640942  {'was_impossible': False}
8      21360   127   4.0  3.574335  {'was_impossible': False}
9      50104  2362   5.0  4.894754  {'was_impossible': False}
10     35780  1266   4.0  4.378710  {'was_impossible': False}
11      4606  2043   5.0  4.031733  {'was_impossible': False}
12     52895  9488   4.0  3.769891  {'was_impossible': False}
13     40566    41   5.0  4.532580  {'was_impossible': False}
14     21713   998   5.0  4.634847  {'was_impossible': False}
15     34763  1881   4.0  3.635315  {'was_impossible': False}
16      2347  2193   3.0  3.546496  {'was_impossible': False}
17     17566  2306   3.0  3.827472  {'was_impossible': False}
18     26244   195   4.0  4.293214  {'was_impossible': False}
19     38766  1033   5.0  4.475240  {'was_impossible': False}
20     24845   586   4.0  4.023515  {'was_impossible': False}
21     14654  2815   3.0  3.285040  {'was_impossible': False}
22     15522   366   4.0  4.113121  {'was_impossible': False}
23     21217   179   3.0  3.575890  {'was_impossible': False}
24     36752  1716   3.0  3.745741  {'was_impossible': False}
25     46421  1068   5.0  4.898712  {'was_impossible': False}
26      4536  6500   5.0  3.198448  {'was_impossible': False}
27     14207  1908   3.0  3.556832  {'was_impossible': False}
28     23738  5447   4.0  3.574677  {'was_impossible': False}
29     27515  5003   5.0  4.143122  {'was_impossible': False}
...      ...   ...   ...       ...                        ...
33329  49138  2571   2.0  3.686586  {'was_impossible': False}
33330  53281   425   3.0  3.521871  {'was_impossible': False}
33331  11382  4258   5.0  3.865980  {'was_impossible': False}
33332  50101   238   5.0  4.567895  {'was_impossible': False}
33333   7610  3184   3.0  3.548554  {'was_impossible': False}
33334   4967  3979   3.0  3.383516  {'was_impossible': False}
33335   2056  2264   4.0  3.822523  {'was_impossible': False}
33336  48389  1221   3.0  3.120510  {'was_impossible': False}
33337  33872  1087   3.0  4.133116  {'was_impossible': False}
33338  30601   656   2.0  4.061896  {'was_impossible': False}
33339  19668   572   4.0  3.453027  {'was_impossible': False}
33340  44496  1448   1.0  3.326012  {'was_impossible': False}
33341  29732   595   5.0  4.190217  {'was_impossible': False}
33342  35824   482   4.0  4.521757  {'was_impossible': False}
33343  21237   669   3.0  4.340000  {'was_impossible': False}
33344  19171  2078   5.0  5.000000  {'was_impossible': False}
33345  50102    61   5.0  4.783869  {'was_impossible': False}
33346  35982   425   3.0  3.434561  {'was_impossible': False}
33347  20737    91   3.0  3.030549  {'was_impossible': False}
33348   9165   448   5.0  3.412536  {'was_impossible': False}
33349  50610   312   3.0  3.671475  {'was_impossible': False}
33350  16346   553   4.0  3.096435  {'was_impossible': False}
33351   4972  1834   3.0  3.369078  {'was_impossible': False}
33352  45811  1144   5.0  3.835280  {'was_impossible': False}
33353  41402  2257   2.0  3.695372  {'was_impossible': False}
33354  18550   257   4.0  4.273372  {'was_impossible': False}
33355  10662  4795   2.0  3.141041  {'was_impossible': False}
33356    274   520   5.0  4.685379  {'was_impossible': False}
33357  12874  1186   4.0  3.365582  {'was_impossible': False}
33358  23603  1631   2.0  3.634224  {'was_impossible': False}

[33359 rows x 5 columns]

In [122]:
Normal = NormalPredictor()
Normal.fit(trainset)
predictions = Normal.test(testset)
accuracy.rmse(predictions)

RMSE: 1.3526

1.3526279663637386

In [123]:
pd.DataFrame(predictions)

         uid   iid  r_ui       est                    details
0      13195  2190   4.0  2.034011  {'was_impossible': False}
1      37393   342   2.0  3.870016  {'was_impossible': False}
2      37834   453   5.0  4.838218  {'was_impossible': False}
3       3263   344   5.0  3.461647  {'was_impossible': False}
4      15254   883   4.0  3.038231  {'was_impossible': False}
5      32490  4018   3.0  4.599311  {'was_impossible': False}
6      30871  3640   5.0  4.445910  {'was_impossible': False}
7      32649  2204   4.0  4.052261  {'was_impossible': False}
8      21360   127   4.0  2.874777  {'was_impossible': False}
9      50104  2362   5.0  4.791724  {'was_impossible': False}
10     35780  1266   4.0  4.244919  {'was_impossible': False}
11      4606  2043   5.0  5.000000  {'was_impossible': False}
12     52895  9488   4.0  4.291628  {'was_impossible': False}
13     40566    41   5.0  3.474249  {'was_impossible': False}
14     21713   998   5.0  3.610442  {'was_impossible': False}
15     34763  1881   4.0  3.386236  {'was_impossible': False}
16      2347  2193   3.0  2.170369  {'was_impossible': False}
17     17566  2306   3.0  4.519655  {'was_impossible': False}
18     26244   195   4.0  3.271611  {'was_impossible': False}
19     38766  1033   5.0  3.802722  {'was_impossible': False}
20     24845   586   4.0  4.763504  {'was_impossible': False}
21     14654  2815   3.0  3.316169  {'was_impossible': False}
22     15522   366   4.0  5.000000  {'was_impossible': False}
23     21217   179   3.0  4.463294  {'was_impossible': False}
24     36752  1716   3.0  3.021962  {'was_impossible': False}
25     46421  1068   5.0  5.000000  {'was_impossible': False}
26      4536  6500   5.0  3.081194  {'was_impossible': False}
27     14207  1908   3.0  2.582111  {'was_impossible': False}
28     23738  5447   4.0  4.837698  {'was_impossible': False}
29     27515  5003   5.0  2.823150  {'was_impossible': False}
...      ...   ...   ...       ...                        ...
33329  49138  2571   2.0  4.194766  {'was_impossible': False}
33330  53281   425   3.0  4.747466  {'was_impossible': False}
33331  11382  4258   5.0  4.837494  {'was_impossible': False}
33332  50101   238   5.0  1.572018  {'was_impossible': False}
33333   7610  3184   3.0  5.000000  {'was_impossible': False}
33334   4967  3979   3.0  4.781212  {'was_impossible': False}
33335   2056  2264   4.0  3.902885  {'was_impossible': False}
33336  48389  1221   3.0  5.000000  {'was_impossible': False}
33337  33872  1087   3.0  2.752830  {'was_impossible': False}
33338  30601   656   2.0  3.470354  {'was_impossible': False}
33339  19668   572   4.0  2.959186  {'was_impossible': False}
33340  44496  1448   1.0  5.000000  {'was_impossible': False}
33341  29732   595   5.0  4.471502  {'was_impossible': False}
33342  35824   482   4.0  4.338815  {'was_impossible': False}
33343  21237   669   3.0  3.466129  {'was_impossible': False}
33344  19171  2078   5.0  5.000000  {'was_impossible': False}
33345  50102    61   5.0  2.931242  {'was_impossible': False}
33346  35982   425   3.0  4.927002  {'was_impossible': False}
33347  20737    91   3.0  3.223251  {'was_impossible': False}
33348   9165   448   5.0  3.865064  {'was_impossible': False}
33349  50610   312   3.0  2.938310  {'was_impossible': False}
33350  16346   553   4.0  4.545049  {'was_impossible': False}
33351   4972  1834   3.0  3.981728  {'was_impossible': False}
33352  45811  1144   5.0  4.076894  {'was_impossible': False}
33353  41402  2257   2.0  3.790437  {'was_impossible': False}
33354  18550   257   4.0  5.000000  {'was_impossible': False}
33355  10662  4795   2.0  4.556851  {'was_impossible': False}
33356    274   520   5.0  2.914355  {'was_impossible': False}
33357  12874  1186   4.0  1.452470  {'was_impossible': False}
33358  23603  1631   2.0  4.698430  {'was_impossible': False}

[33359 rows x 5 columns]